body {
	width: 100%;
	max-width: 100%;
	background: #fff;
	overflow-x: hidden;
	overflow-y: inherit;

	@media (min-width: $screen-sm-min) {
		background: #000 url("../img/bg_page.jpg") 50% 0 no-repeat;
		background-size: contain;
	}

	@media (min-width: $screen-xl-min) {
		background-size: auto;
	}

	&.openNav {
		position: relative;
	}
}

.page {
	width: 100%;
	overflow-x: hidden;
	overflow-y: inherit;
	max-width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	&.homepage {

		@media (min-width: $screen-sm-min) {

			background: url("../img/bg_homepage.jpg") 50% 100% no-repeat;
			background-size: cover;

			.content {
				min-height: 580px;
				background: url("../img/bg_homepage.jpg") 50% 100% no-repeat;
				background-size: cover;
			}
		}


		@media (min-width: $screen-md-min) {

			.content {
				min-height: inherit;
				background: transparent;
			}
		}
	}
}

.page0 {

	@include flex(1);
}

.main {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	@include flex(1);
	@include flexbox();
	@include flex-direction(column);
	@include flex-wrap(nowrap);

	@media (min-width: $screen-md-min) {
		padding-top: 15px;
		@include flex-direction(row);
	}
}

.content {
	padding: 30px 10px;
	position: relative;
	@include clearfix();

	&__wrap {
		z-index: 30;
		position: relative;
	}

	@media (min-width: $screen-sm-min) {
		color: #fff;
		padding: 30px 20px;

		&__wrap {
			z-index: 10;
			min-height: 100%;
			position: relative;
		}
	}

	@media (min-width: $screen-md-min) {
		@include flex(1);
		padding-top: 0;
		padding-right: 50px;

		&__wrap {
			width: 100%;
			max-width: 1080px;
			float: right;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-right: 100px;
	}
}

.bgDesktop {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
//	overflow: hidden;
	position: absolute;

	&__item {
		bottom: 0;
		display: block;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		@include transition(.3s);

		&.active {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}

	&__one {
		right: -100px;
		width: 1182px;

	}

	&__two {
		left: 50%;
		width: 640px;
		bottom: -10px;
		margin-left: -320px;
	}

	&__three {
		width: 156px;
		right: 40px;
		bottom: 50px;
	}

	@media (min-width: $screen-sm-min) {
		height: 580px;
		display: block;
	}


	@media (min-width: $screen-md-min) {
		height: 100%;
		display: block;

		&__one {
			width: 1200px;
			left: 0;
			bottom: -30px;
			right: auto;
		}

		&__two {
			left: 40px;
			width: 800px;
			bottom: -40px;
			margin-left: 0;
		}


		&__three {
			left: 50%;
			width: 180px;
			right: auto;
			bottom: -40px;
			margin-left: 60px;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__one {
			width: 1400px;
		}

		&__two {
			width: 850px;
			margin-left: 100px;
			bottom: -20px;
		}

		&__three {
			width: 180px;
			bottom: -10px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__one {
			left: 30px;
			width: 1850px;
			bottom: -70px;
		}


		&__two {
			left: 50%;
			width: 1182px;
			margin-left: -540px;
		}


		&__three {
			width: 240px;
			bottom: -10px;
			margin-left: 255px;
		}
	}
}

.sidebar {
	z-index: 100;
	position: relative;
	background: #000;
	padding: 37px 20px;
	@include clearfix();

	&__wrap {
		@include clearfix();
	}

	&__selection {
		position: relative;
		padding-left: 48px;
		margin-bottom: 35px;

		&:after,
		&:before {
			left: 11px;
			z-index: 1;
			width: 18px;
			height: 1px;
			content: '';
			display: block;
			position: absolute;
			background: #808080;
		}

		&:after {
			top: 9px;
		}

		&:before {
			bottom: 3px;
		}

		&_icon {
			top: 50%;
			left: 0;
			width: 21px;
			height: 24px;
			display: block;
			margin-top: -10px;
			position: absolute;

			.ico-svg {
				fill: #808080;
			}

			&:after,
			&:before {
				left: 50%;
				width: 1px;
				content: '';
				z-index: 10;
				height: 30px;
				display: block;
				position: absolute;
				background: #808080;
			}

			&:after {
				top: -41px;
			}

			&:before {
				bottom: -44px;
			}
		}

		&_nav {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 25px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #fff;
					font-size: 14px;
					font-weight: 700;
					line-height: 18px;
					text-decoration: none;
					border-bottom: 1px dashed #808080;
				}
			}
		}
	}

	&__filters {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 25px;

			> a {
				color: #fff;
				font-size: 14px;
				line-height: 18px;
				position: relative;
				display: inline-block;
				text-decoration: none;
				padding: 8px 0 8px 54px;

				&:hover {

					span {
						border-bottom-color: transparent;
					}
				}
			}

			i {
				left: 0;
				top: 50%;
				position: absolute;
				display: inline-block;

				.ico-svg {
					fill: #808080;
				}
			}

			span {
				border-bottom: 1px dotted #808080;
			}
		}

		&:nth-child(1) {

			i {
				width: 34px;
				height: 22px;
				margin-top: -11px;
			}
		}

		&:nth-child(2) {

			i {
				width: 23px;
				height: 25px;
				margin-top: -13px;
			}
		}

		&:nth-child(3) {

			i {
				width: 29px;
				height: 28px;
				margin-top: -14px;
			}
		}

		&:nth-child(4) {

			i {
				width: 26px;
				height: 33px;
				margin-top: -12px;
			}
		}

		&:nth-child(5) {
			margin-bottom: 0;

			i {
				width: 36px;
				height: 35px;
				margin-top: -18px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__wrap {
			max-width: 640px;
		}

		&__selection {
			float: right;
		}

		&__filters {
			float: left;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 320px;
		padding: 40px 0 0 0;
		background: transparent;

		&__selection {
			float: none;
		}

		&__filters {
			float: none;
		}
	}
}

.wrap_xs {

	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.wrap_md {
	display: none;
	overflow: hidden;

	@media (min-width: $screen-sm-min) {
		width: 634px;
		display: block;
		padding: 25px 20px;
		margin-left: -20px;
		margin-top: 40px;
		background: rgba(0,0,0, 0.5);
	}


	@media (min-width: $screen-md-min) {
		margin-left: 0;
	}
}

.homepageXS {
	color: #000;
	max-width: 100%;
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	margin: 0 -10px 20px -10px;


	.h2 {
		font-size: 24px;
		font-weight: 700;
		line-height: 26px;
		margin-left: 10px;
		text-transform: uppercase;
	}

	&__image {
		position: relative;
		margin-bottom: 45px;
		padding-bottom: 20px;

		&_item {
			z-index: 20;
			margin: 0 auto;
			display: block;
			width: 300px;
			position: relative;
		}

		&_wrap {
			position: relative;
		}

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 10;
			height: 52px;
			position: absolute;
			background: url("../img/home_bg_sm.png") 50% 0 no-repeat;
			background-size: cover;
		}
	}

	&__text {
		padding: 0 10px;
	}


	&.block__one {
		padding-top: 15px;

		.h2 {
			margin-bottom: 50px;
		}

		.homepageXS__image {
			padding-bottom: 15px;

			&_wrap {
				left: 10px;
			}
		}

	}

	&.block__two {
		padding-top: 30px;


		.homepageXS__image {

			&_wrap {
				left: -10px;
			}
		}
	}

	&.block__three {
		padding-top: 20px;

		.h2 {
			left: 0;
			top: 130px;
			position: absolute;
		}

		.homepageXS__image {

			&_item {
			}

			&_wrap {
				width: 100px;
				margin-left: 200px;
			}
		}
	}
}

.slider {
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	padding-left: 50px;
	position: relative;

	&__item {
		border: none;
		outline: none;
	}

	.h2 {
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 15px;
	}

	p {

	}

	.slick-dots {
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 20;
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;

		&:before {
			top: 20px;
			bottom: 20px;
			left: 10px;
			z-index: 1;
			content: '';
			width: 1px;
			position: absolute;
			background: #fff;
		}

		li {
			left: 0;
			z-index: 10;
			width: 20px;
			height: 20px;
			position: absolute;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 50%;
				margin-top: -10px;
			}

			&:nth-child(3) {
				bottom: 0;
			}

			button {
				width: 20px;
				height: 20px;
				outline: none;
				background: #000;
				position: relative;
				display: inline-block;
				border: 1px solid #fff;
				@include border-radius(50%);

				&:before {
					top: 3px;
					left: 3px;
					opacity: 0;
					content: '';
					width: 12px;
					height: 12px;
					background: #fff;
					position: absolute;
					visibility: hidden;
					@include border-radius(50%);
				}
			}

			&.slick-active {

				button {

					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.social {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	@include clearfix();

	li {
		margin-right: 30px;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: #3777a4;
		font-size: 24px;
		line-height: 24px;
		text-decoration: none;

		&:hover {
			color: #000;
		}
	}
}

.category {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 25px;
	}

	&__name {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;

		a {
			color: #000;
			text-decoration: none;
		}
	}

	&__image {
		display: block;
		overflow: hidden;
		@include border-radius(3px);

		img {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -15px;
		@include flexbox();
		@include justify-content(space-between);

		li {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 0;
		}

		&__name {

			a {
				color: #fff;
			}
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -20px;

		li {
			width: 50%;
			padding: 0 20px;
		}

	}
}
}

.product {

	&__column {

	}

	&__weight {
		padding: 0;
		list-style: none;
		margin: 0 -10px 20px -10px;
		@include clearfix();

		li {
			float: left;
			padding: 0 10px;

			&:first-child {
				width: 100%;
			}
		}

		&_title {
			color: #000;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
		}
	}

	.weight {
		cursor: pointer;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		display: inline-block;

		input {
			display: none;
		}

		span {
			color: #287bb5;
			border-bottom: 1px dotted #287bb5;
		}

		input:checked + span {
			color: #000;
			border-bottom-color: transparent;
		}
	}

	&__title {
		color: #000;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
	}

	&__table {
		display: block;

		tr {
			display: block;
			margin-bottom: 7px;
		}

		td {
			display: block;

			&:first-child {
				color: #808080;
			}

			&:last-child {
				color: #000;
			}

			span {
				font-size: 16px;
				line-height: 16px;
			}
		}
	}

	&__info {

	}

	&__purchase {
		padding-top: 20px;
		margin-bottom: 35px;
	}

	&__price {
		color: #000;
		font-size: 38px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 8px;
	}

	&__analog {
		padding: 15px 20px;
		margin-bottom: 25px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #287bb5;
					text-decoration: none;
					border-bottom: 1px dotted #287bb5;

					&:hover {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}

	&__text {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 35px;

		&_hide {
			height: 54px;
			overflow: hidden;
			margin-bottom: 5px;
		}

		&.open {

			.product__text_hide {
				height: auto;
			}

			.product__else {

				.text-show {
					display: none;
				}

				.text-hide {
					display: inline;
				}

			}
		}
	}

	&__else {
		color: #287bb5;
		text-decoration: none;
		border-bottom: 1px dotted #287bb5;

		.text-hide {
			display: none;
		}

		&:hover {
			border-bottom-color: transparent;
		}
	}

	&__pdf {
		color: #287bb5;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		display: inline-block;
		padding: 8px 0 8px 44px;
		text-decoration: none;
		position: relative;

		i {
			left: 0;
			top: 50%;
			width: 32px;
			height: 36px;
			margin-top: -18px;
			display: inline-block;
			position: absolute;
		}

		.ico-svg {
			fill: #287bb5;
		}

		span {
			border-bottom: 1px dotted rgba(40,183,191, 0.7);
		}

		&:hover {

			span {
				border-bottom-color: transparent;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 535px;

		&__weight {
			margin: 0 -12px 15px -12px;

			li {
				padding: 0 12px;

				&:first-child {
					width: auto;
					padding-top: 2px;
				}


			}

			&_title {
				color: #fff;
				font-size: 18px;
			}
		}

		.weight {
			color: #a0d8ff;
			font-size: 18px;
			line-height: 20px;

			span {
				color: #a0d8ff;
				border-bottom-color: #a0d8ff;
			}

			input:checked + span {
				color: #fff;
				border-bottom-color: transparent;
			}
		}

		&__title {
			color: #fff;
		}

		&__table {
			width: 100%;
			display: table;
			border-collapse: collapse;

			tr {
				display: table-row;
				margin-bottom: 0;
			}

			td {
				padding: 2px 0;
				display: table-cell;
				vertical-align: top;

				&:first-child {
					width: 240px;
					color: #c2c2c2;

					span {
						width: 100%;
						display: inline-block;
						padding-right: 15px;
						border-bottom: 1px solid #262626;
					}
				}

				&:last-child {
					color: #fffefe;
				}

				span {

					border-bottom: 1px solid #262626;
				}
			}
		}

		&__info {
			margin-bottom: 50px;
		}

		&__row {
			width: 100%;
			@include flexbox();
			margin-bottom: 30px;
			@include justify-content(space-between);
		}

		&__purchase {
			width: 206px;
			margin-bottom: 0;
			padding-top: 28px;

			.btn {
				width: 100%;
			}
		}

		&__price {
			color: #fff;

		}

		&__analog {
			width: 293px;
			margin-bottom: 0;
			background: #262626;
			@include border-radius(4px);

			ul {

				li {

					a {
						color: #a0d8ff;
						border-bottom-color: #a0d8ff;

						&:hover {
							border-bottom-color: transparent;
						}
					}
				}
			}
		}

		&__text {
			color: #fff;
		}

		&__else {
			color: #a0d8ff;
			border-bottom: 1px dotted #a0d8ff;

			&:hover {
				border-bottom-color: transparent;
			}
		}

		&__pdf {
			color: #a0d8ff;

			span {
				border-bottom-color: #a0d8ff;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}

			.ico-svg {
				fill: #a0d8ff;
			}

		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
		@include flexbox();
		@include justify-content(space-between);

		&__column {

			&:first-child {
				width: 500px;
			}

			&:last-child {
				padding-left: 45px;
				@include flex(1);
			}
		}

		&__info {
			height: 250px;
			margin-bottom: 15px;
		}

		&__purchase {

			.btn {
				width: auto;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__purchase {

			.btn {
				width: 100%;
			}
		}
	}
}

.gallery {
	max-width: 500px;
	margin-bottom: 35px;
	border:1px solid #303030;
	border-bottom: none;

	.gallerySlider {
		position: relative;

		&__item {
			border: none;
			outline: none;
		}
	}

	.galleryThumbs {
		padding: 0 30px;
		position: relative;

		&__nav {
			top: 0;
			width: 30px;
			height: 100%;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: absolute;
			background: #303030;
			@include flexbox();

			&:hover {
				background: #000;
			}

			i {
				width: auto;
				height: 20px;
				margin: auto;
				display: inline-block;

				.ico-svg {
					fill: #fff;
				}
			}

			&.prev {
				left: 0;
			}

			&.next {
				right: 0;

				i {
					@include rotate(180deg);
				}
			}
		}

		&__slider {
			position: relative;

			&:after,
			&:before {
				left: 0;
				z-index: 1;
				content: '';
				width: 100%;
				height: 1px;
				position: absolute;
				background: #303030;
			}

			&:after {
				top: 0;
			}

			&:before {
				bottom: 0;
			}

			.slick-track {
				margin: 0;
			}
		}

		&__item {
			z-index: 5;
			outline: none;
			cursor: pointer;
			position: relative;
			border: 1px solid #303030;
			border-left: none;
		}
	}

	@media (min-width: $screen-sm-min) {

		.gallery {
			width: 500px;
		}

		.galleryThumbs {
			padding: 0 50px;

			&__nav {
				width: 50px;

				&:hover {
					background: #fff;
				}
			}

			i {
				height: 35px;

				.ico-svg {
					fill: #000;
				}
			}
		}
	}
}

.heading {
	margin-bottom: 20px;
	@include clearfix();

	h1 {
		margin-bottom: 15px;
	}

	.filter-toggle {
		color: #287bb5;
		font-size: 16px;
		line-height: 20px;
		padding-left: 35px;
		position: relative;
		display: inline-block;
		text-decoration: none;

		i {
			top: 0;
			left: 0;
			height: 20px;
			position: absolute;
		}

		.ico-svg {
			fill: #287bb5;
		}

		span {
			border-bottom: 1px dotted rgba(40,123,181, 0.75);
		}

		&:hover {

			span {
				border-bottom-color: transparent;
			}
		}

		&.open {

			i {
				@include rotate(90deg);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 20px;

		h1 {
			float: left;
			margin-bottom: 0;
			margin-right: 50px;
		}

		.filter-toggle {
			float: left;
			margin-top: 4px;
			color: #a0d8ff;

			.ico-svg {
				fill: #a0d8ff;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		margin-bottom: 40px;

		h1 {
			margin-bottom: 0;
		}

		.filter-toggle {
			display: none;
		}
	}
}

.filter {
	display: none;
	margin-bottom: 30px;

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__label {
		color: #000;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;

		small {
			color: #808080;
			font-size: 13px;
			font-weight: 400;
			text-transform: lowercase;
		}
	}

	&__select {
		margin: 0;
		width: 100%;
		outline: none;
		color: #287bb5;
		font-size: 14px;
		line-height: 20px;
		display: inline-block;
		padding: 12px 35px 12px 10px;
		background: #fff url("../img/select__arrow.png") 100% 50% no-repeat;
		border: 1px solid #287bb5;
		@include border-radius(3px);
		@include placeholder(#287bb5);

		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		-ms-appearance: none;
		appearance: none!important;

		&::-ms-expand {
			display: none;
		}

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:hover {
			color: #000;
		}

		&:focus {
			@include placeholder(transparent);
		}
	}

	&__buttons {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		> li {

		}
	}

	&.open {
		display: block;
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			margin: 0 -10px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			> li {
				width: 320px;
				padding: 0 10px;
			}
		}

		&__label {
			color: #fff;

			small {
				color: #b7b7b7;
			}
		}

		&__select {
			color: #80e0ff;
			border-color: #fff;
			background: transparent url("../img/select__arrow_two.png") 100% 50% no-repeat;


			&:hover {
				color: #80e0ff;
			}

			&:focus {
				color: #000;
				background-color: #fff;

			}
		}

		&__buttons {
			padding-top: 24px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {


			> li {

			}
		}
	}

	@media (min-width: $screen-lg-min) {
		display: block;

		&__row {



			> li {

			}
		}
	}
}

.catalog__heading {
	width: 100%;
	color: #b2b2b2;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 20px;
	padding-bottom: 2px;
	border-bottom: 2px solid #d8d8d8;

	span {

	}
}

.catalog {
	padding-bottom: 15px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	&__item {
		width: 100%;
		margin-bottom: 20px;

	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -14px;

		&__heading {
			color: #808080;
			border-bottom-color: #3a3a3a;
		}

		&__item {
			width: 50%;
			padding: 0 14px;
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -20px;

		&__item {
			padding: 0 20px;
			margin-bottom: 30px;
		}
	}
}

.goods {
	@include flexbox();
	@include justify-content(space-between);

	&__image {
		width: 100px;

		a {
			display: block;
		}

		img {
			display: block;
		}
	}

	&__text {
		padding-left: 18px;
		@include flex(1);
		@include flexbox();
		@include flex-direction(column);
	}


	&__title {
		color: #287bb5;
		font-size: 22px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 15px;

		a {
			color: #287bb5;
			text-decoration: none;

			&:hover {
				color: #000;
			}
		}
	}

	&__type {
		color: #b2b2b2;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 20px;
		@include flex(1);
	}

	.btn-goods {
		margin-bottom: 15px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 10px 20px;
		@include border-radius(3px);
		background: rgba(255,255,255,0.12);

		&__image {
			width: 130px;
		}

		&__title {
			color: #fff;

			a {
				color: #fff;

				&:hover {
					color: #a0d8ff;
				}
			}
		}

		&__type {
			color: #b2b2b2
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 17px 30px;

		&__image {
			width: 175px;
		}

		&__text {
			padding-left: 30px;
		}

		&__title {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 20px;

			a {
				color: #fff;
			}
		}

		&__type {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 50px;
		}

		.btn-goods {
			width: 234px;
		}
	}

	@media (min-width: $screen-lg-min) {


	}
}

.wrapper {
	padding: 30px;
	background: #fff;
	@include border-radius(3px);
}

.article {
	padding: 20px 0 20px 0;
	border-bottom: 2px solid #d8d8d8;

	&:first-child {
		padding-top: 0;
	}

	h4 {
		margin-bottom: 10px;
		text-transform: uppercase;

		a {
			color: #000;
			text-decoration: none;

			&:hover {
				color: #287bb5;
			}
		}
	}

	&__image {
		font-size: 0;
		line-height: 0;
		max-width: 360px;
		overflow: hidden;
		margin-bottom: 10px;
		@include border-radius(3px);

		a {
			display: block;
		}

		img {
			display: block;
		}
	}

	&__intro {
		height: 85px;
		overflow: hidden;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.text-hide {
		display: none;
	}

	&.open {

		.article__intro {
			height: auto;
		}

		.text-show {
			display: none;
		}

		.text-hide {
			display: inline;
		}
	}

	.btn-blue {
		width: 220px;
	}

	@media (min-width: $screen-sm-min) {
		color: #000;
		padding: 0;
		position: relative;
		margin-bottom: 30px;
		border: 1px solid #dbdbdb;
		@include border-radius(3px);
		@include flexbox();
		@include justify-content(space-between);

		&__image {
			width: 300px;
			margin-bottom: 0;
		}

		&__content {
			padding: 15px 20px 20px 30px;
			@include flex(1);
		}

		&__intro {
			height: 60px;
			margin-bottom: 10px;
		}
	}


	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}
