.footer {
	z-index: 400;
	position: relative;
	background: #252525;
	padding: 20px 20px 15px 20px;
	@include clearfix();

	&__logo {
		width: 180px;
		display: block;
		margin-bottom: 25px;
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 20px;

			> a {
				color: #fff;
				outline: none;
				font-size: 14px;
				font-weight: 700;
				line-height: 18px;
				text-decoration: none;
				border-bottom: 1px dotted #fff;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__second {
		padding-top: 10px;
		@include clearfix();
	}

	&__social {
		margin: 0;
		padding: 0;
		float: left;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			> a {
				opacity: 0.5;
				display: inline-block;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	&__copy {
		float: right;
		color: #808080;
		font-size: 12px;
		line-height: 20px;
		display: inline-block;
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 20px;

		&__logo {
			top: 67px;
			left: 20px;
			position: absolute;
			margin-bottom: 0;
		}

		&__nav {
			width: 100%;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				float: none;
				margin-bottom: 0;
			}
		}

		&__second {
			padding-top: 25px;
			margin-left: 210px;
		}

		&__social {
			float: right;
		}
		&__copy {
			float: left;
		}
	}

	@media (min-width: $screen-md-min) {
		background: transparent;
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 40px;
		background: transparent;

		&__logo {
			top: auto;
			left: auto;
			float: left;
			position: relative;
			margin-bottom: 0;
			margin-right: 100px;
		}

		&__nav {
			float: left;
			width: auto;
			@include justify-content(flex-start);

			> li {
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}
			}
		}


		&__second {
			width: 345px;
			float: right;
			padding-top: 4px;
			margin-left: 0;
		}

		&__social {
			float: left;
		}
		&__copy {
			float: right;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__logo {
			margin-left: 40px;
			margin-right: 200px;
		}

		&__second {
			margin-right: 80px;
		}
	}
}