
// Header

.header {
	z-index: 500;
	position: relative;
	background: #252525;

	&__row {
		margin: 0;
		padding: 70px 0 0 0;
		list-style: none;
		position: relative;
		@include clearfix();

		> li {
			float: left;

			&:nth-child(1) {
				width: 60px;
			}

			&:nth-child(2) {
				top: 0;
				left: 0;
				width: 100%;
				background: #fff;
				text-align: center;
				position: absolute;
				padding-bottom: 10px;
			}

			&:nth-child(3) {
				top: 130px;
				width: 100%;
				display: none;
				position: absolute;
				background: #000;
				border-bottom: 1px solid #222;
			}


			&:nth-child(4) {
				float: right;
				padding: 10px 0;
				margin-right: 10px;
			}



			&:nth-child(5) {
				width: 100%;
				display: none;
				padding: 20px 10px;
				background: #000;
			}
		}
	}


	&__toggle {
		height: 60px;
		padding: 20px 15px;
		width: 60px;
		font-size: 0;
		line-height: 0;
		display: inline-block;

		span {
			width: 100%;
			height: 3px;
			background: #fff;
			position: relative;
			margin-bottom: 6px;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.open {

			span {

				&:nth-child(1) {
					top: 8px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					top: -1px;
					@include rotate(-45deg);
				}


				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	&__search {
		width: 24px;
		height: 24px;
		display: none;
		cursor: pointer;
		margin: 10px auto 0 auto;

		.ico-svg {
			fill: #fff;
		}
	}

	&__logo {
		font-size: 0;
		line-height: 0;
		width: 284px;
		padding: 15px 18px;
		background: #ff0000;
		display: inline-block;
	}

	&__user {
		margin: 0;
		padding: 18px 10px;
		list-style: none;
		@include clearfix();

		> li {
			float: left;

			&:first-child {
				margin-right: 40px;
			}
		}
	}

	&__phone {
		padding-left: 48px;
		position: relative;
		display: inline-block;

		&:before {
			left: 0;
			top: 50%;
			content: '';
			width: 36px;
			height: 36px;
			margin-top: -18px;
			position: absolute;
			display: inline-block;
			border: 1px solid #808080;
			background: url("../img/icon__phone_blue.png") 50% 50% no-repeat;
			@include border-radius(50%);
		}

		span {
			width: 100%;
			color: #808080;
			font-size: 11px;
			line-height: 16px;
			display: block;
		}

		a {
			color: #fff;
			font-size: 19px;
			line-height: 20px;
			text-decoration: none;
		}
	}

	&__location {
		@include clearfix();

		&_city {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 15px;
			position: relative;
			@include clearfix();

			&:before {
				left: 0;
				top: 50%;
				content: '';
				width: 36px;
				height: 36px;
				margin-top: -18px;
				position: absolute;
				display: none;
				border: 1px solid #808080;
				background: url("../img/icon__map_marker.png") 50% 50% no-repeat;
				@include border-radius(50%);
			}

			&_label {
				color: #fff;
				display: block;
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			&_current {
				display: inline-block;
			}

			span {
				color: #808080;
			}

			a {
				color: #fff;
				outline: none;
				text-decoration: none;
				border-bottom: 1px dashed #fff;
			}
		}

		&_contact {
			color: #fff;
			outline: none;
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			padding: 11px 20px;
			display: inline-block;
			text-decoration: none;
			background: #262626;
			border: 1px solid #686868;
			@include border-radius(3px);

			&:hover {
				background: transparent;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			padding-top: 0;

			> li {
				float: left;

				&:nth-child(2) {
					top: auto;
					left: auto;
					width: auto;
					padding-bottom: 0;
					margin-right: 20px;
					position: relative;
				}

				&:nth-child(3) {
					top: auto;
					left: auto;
					width: auto;
					display: block;
					margin-right: 0;
					position: relative;
					background: transparent;
					border-bottom: none;
				}

				&:nth-child(4) {
					width: auto;
					padding: 4px 0;
					margin-bottom: 0;
					background: transparent;
					border-bottom: none;
				}


				&:nth-child(5) {
					width: 100%;
					padding: 10px 10px;
					background: #000;
				}
			}
		}

		&__user {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();

			> li {
				padding: 3px 0;
				float: none;

				&:first-child {
					margin-right: 0;
				}
			}
		}

		&__location {

			&_city {
				float: left;
				padding: 12px 0 12px 48px;
				margin-bottom: 0;

				&:before {
					display: inline-block;
				}

				&_label {
					float: left;
					line-height: 20px;
					margin-right: 10px;
					margin-bottom: 0;
				}

				&_current {
					float: left;
					line-height: 20px;
				}
			}

			&_contact {
				float: right;
			}
		}

		&__phone {
			padding-left: 48px;
			position: relative;
			display: inline-block;

			&:before {
				left: 0;
				top: 50%;
				content: '';
				width: 36px;
				height: 36px;
				margin-top: -18px;
				position: absolute;
				display: inline-block;
				border: 1px solid #808080;
				background: url("../img/icon__phone_blue.png") 50% 50% no-repeat;
				@include border-radius(50%);
			}

			span {
				width: 100%;
				color: #808080;
				font-size: 14px;
				line-height: 18px;
				display: block;
			}

			a {
				color: #fff;
				font-size: 24px;
				line-height: 26px;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		background: transparent;
		margin-bottom: 50px;

		&__row {

			> li {

				&:nth-child(1) {
					width: 70px;
				}

				&:nth-child(3) {
					padding-top: 15px;
				}

				&:nth-child(4) {
					padding: 22px 0;
					margin-right: 350px;
				}

				&:nth-child(5) {
					top: 0;
					right: 0;
					display: block;
					padding: 13px 10px 0 0;
					background: transparent;
					position: absolute;
					width: 320px;
				}
			}
		}


		&__toggle {
			height: 45px;
			margin: 0 auto;
			padding: 15px 10px;
			width: 50px;
			display: block;

			span {
				width: 100%;
				height: 3px;
				background: #fff;
				display: inline-block;
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__search {
			display: block;
		}

		&__logo {
			padding: 26px 34px;
			width: 386px;
		}

		&__location {

			&_city {
				float: none;
				margin-bottom: 12px;

				&_label {
					float: none;
					display: block;
					margin-right: 0;
				}

				&_current {
					float: none;
				}
			}

			&_contact {
				float: none;
			}
		}

	}

	@media (min-width: $screen-lg-min) {

		&__row {

			> li {


				&:nth-child(1) {
					width: 110px;
				}

				&:nth-child(3) {
					padding-top: 30px;
				}

				&:nth-child(4) {
					margin-right: 370px;
				}
			}
		}

		&__user {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();

			> li {
				padding: 3px 0;
				float: left;

				&:first-child {
					margin-right: 40px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {

			> li {

				&:nth-child(4) {
					margin-right: 420px;
				}
			}
		}
	}
}


.homepage {

	.header {

		&__row {

			> li {

				&:nth-child(1) {

				}

				&:nth-child(2) {

				}

				&:nth-child(3) {
					display: block;
				}

				&:nth-child(4) {
					margin-bottom: 60px;
				}

				&:nth-child(5) {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.header {

			&__row {

				> li {

					&:nth-child(4) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}