* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}



body {
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;
	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}


	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	padding: 0;
	margin: 0;
	font-family: $font-head;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 24px;
	line-height: 1.1;
	margin: 0 0 20px 0;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {

		margin-bottom: 30px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 30px;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-xl-min) {
		font-size: 48px;
		margin-bottom: 40px;
	}
}

h2, .h2 {
	font-size: 	1.75rem;
	margin-bottom: 1.25rem;
}

h3, .h3 {
	font-size: 1.5rem;
	margin-bottom: 1.25rem;
}

h4, .h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 20px;
}

h5, .h5 {
	font-size: 18px;
	margin-bottom: 20px;
}

h6, .h6 {
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

p {
	margin: 0 0 0.5rem 0;
}

a {
	outline: none;
	color: $color-link;
	text-decoration: $link-decoration;

	&:hover {
		text-decoration: $link-hover-decoration;
	}
}
