
.modal {
	color: #000;
	width: 100%;
	max-width: 450px;
	position: relative;
	background: #fff;
	padding: 40px 10px 30px 10px;
	@include border-radius(4px);

	&__close {
		top: 10px;
		right: 10px;
		margin: 0;
		padding: 0;
		width: 26px;
		height: 26px;
		z-index: 100;
		font-size: 0;
		opacity: 0.5;
		line-height: 0;
		outline: none;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		border: 2px solid #000;
		background: transparent;
		@include border-radius(50%);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			z-index: 10;
			width: 12px;
			height: 2px;
			background: #000;
			position: absolute;
			display: inline-block;
			margin: -1px 0 0 -6px;
		}

		&:after {
			@include rotate(-45deg);
		}

		&:before {
			@include rotate(45deg);
		}

		&:hover {
			opacity: 1;
		}
	}

	&__heading {
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__label {
		color: #000;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;

		span {
			color: #fe0504;
			margin-left: 3px;
		}
	}

	&__elem {
		height: 350px;
		overflow: hidden;
	}

	&__list {
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 16px;
		list-style: none;

		> li {
			margin-bottom: 7px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__form_row {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			margin-bottom: 25px;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 680px;
		padding: 20px;
		max-width: inherit;

		&__close {
			top: 25px;
			right: 20px;
		}

		&__heading {
			font-size: 30px;
		}

		&__label {
			font-size: 18px;
		}

		&__elem {
			padding: 10px;
			border: 1px solid #f1f1f1;
			@include border-radius(3px);
			@include flex(1);
		}

		.scrollbar-inner {
			height: 330px;
		}

		&__form_row {
			margin: 0 -10px;

			> li {
				float: left;
				width: 50%;
				padding: 0 10px;
				margin-bottom: 35px;
			}
		}

		&-opacity {
			color: #fff;
			border: 1px solid #262626;
			background: rgba(0,0,0, 0.8);

			.form-label {
				color: #fff;

				small {
					color: #b7b7b7;
				}
			}

			.modal__close {
				border: 2px solid #fff;

				&:after,
				&:before {
					background: #fff;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		width: 1080px;
		padding: 25px 30px 30px 30px;


		&__heading {
			font-size: 36px;
			line-height: 40px;
		}

		&__elem {
			height: 450px;
		}

		.scrollbar-inner {
			height: 430px;
		}

		&__form_row {
			margin: 0 -30px;

			> li {
				width: 33.33%;
				padding: 0 30px;
				margin-bottom: 90px;
			}
		}

		&-opacity {

			.modal__heading {
				text-align: center;
				margin-bottom: 80px;
			}
		}
	}
}

.select-setting {
	margin: 0;
	width: 100%;
	outline: none;
	color: #000;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	padding: 12px 35px 12px 10px;
	background: #fff url("../img/select__arrow.png") 100% 50% no-repeat;
	border: 1px solid #287bb5;
	@include border-radius(3px);
	@include placeholder(#000);

	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-expand {
		display: none;
	}

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:hover {
		color: #287bb5;
	}

	&:focus {
		@include placeholder(transparent);
	}

}

.cityModal {
	@include clearfix();

	&__col {
		margin-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__col {
			width: 280px;
			margin-bottom: 0;
			@include flexbox();
			@include flex-direction(column);
		}

		&__button {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {
		@include justify-content(flex-start);

		&__col {
			width: 300px;
			max-width: 300px;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.listLabel {
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #000;
		font-size: 14px;
		line-height: 16px;
		cursor: pointer;
		text-decoration: none;
		display: inline-block;border-bottom: 1px dotted rgba(0,0,0, 0.5);
	}

	input:checked + span {
		opacity: 0.6;
		border-color: rgba(40, 123, 181, 0.7);
	}
}

.contact {

	&__box {
		height: 100%;
	}

	&__map {
		height: 270px;
		margin-bottom: 15px;

	}

	&__address {

	}

	&__elem {

	}

	&__list {
		margin: 0;
		padding: 0;
		color: #000;
		line-height: 24px;
		list-style: none;


		li {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		span {
			font-size: 14px;
			line-height: 18px;
		}

		a {
			color: #3777a4;
			font-size: 14px;
			line-height: 18px;
			text-decoration: none;
			border-bottom: 1px dotted #3777a4;
		}
	}


	&__phone {
		margin-bottom: 10px;

		span {
			display: block;
			color: #808080;
			font-size: 14px;
			line-height: 20px;
		}

		a {
			color: #3777a4;
			font-size: 24px;
			line-height: 28px;
			text-decoration: none;
			border-bottom: 1px dotted #3777a4;
		}
	}

	&__email {
		margin-bottom: 30px;

		span {
			display: block;
			color: #808080;
			font-size: 14px;
			line-height: 20px;
		}

		a {
			color: #3777a4;
			text-decoration: none;
			border-bottom: 1px dotted #3777a4;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__addr {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;

		span {
			display: block;
			color: #808080;
			font-size: 14px;
			line-height: 20px;
		}

		a {
			color: #3777a4;
			text-decoration: none;
			border-bottom: 1px dotted #3777a4;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.social {
		padding-top: 25px;
	}


	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include justify-content(space-between);

		#contactMap {
			height: 375px;
		}

		&__map{
			width: 355px;
			height: 375px;
			margin-bottom: 0;
		}

		&__address {
			width: 250px;
			@include flexbox();
			@include flex-direction(column);
		}

		&__elem {
			padding: 10px;
			@include flex(1);
			border: 1px solid #f1f1f1;
			@include border-radius(3px);
		}

		&__list {

			> li {
				cursor: pointer;

				span {
					border-bottom: 1px dotted rgba(0,0,0, 0.5);
				}
			}
		}

		&__phone {

			a {
				color: #000;
				border-bottom: none;
			}
		}

		.scrollbar-inner {
			height: 330px;
		}
	}

	@media (min-width: $screen-md-min) {

		#contactMap {
			height: 530px;
		}

		&__map {
			width: 690px;
			height: 530px;
			margin-bottom: 0;
		}

		&__address {
			width: 300px;
		}


		.scrollbar-inner {
			height: 480px;
		}
	}
}

.feedback {

	textarea {
		height: 255px;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();

		&__left {
			width: 254px;
		}

		&__right {
			padding-left: 24px;
			@include flex(1);
		}

		.form-group {
			margin-bottom: 25px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 75px;

		&__left {
			width: 350px;
		}

		&__right {
			padding-left: 50px;
		}

		.form-group {
			margin-bottom: 35px;
		}

		textarea {
			height: 275px;
		}
	}
}

.consulate {
	font-size: 14px;
	line-height: 18px;
	position: relative;

	p {
		margin-bottom: 20px;
	}

	&__place {
		padding: 0;
		list-style: none;
		margin: 0 0 35px 0;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #287bb5;
				text-decoration: none;
				border-bottom: 1px dotted #287bb5;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__box {
		width: 300px;
		height: 191px;
		overflow: hidden;
		padding: 18px 40px;
		border: 1px solid #b7b7b7;
		@include border-radius(3px);
	}

	&__slider {
		position: relative;

		&_item {
			border:none;
			outline: none;
			padding: 0 10px;
			text-align: center;
			position: relative;

			a {
				font-size: 0;
				line-height: 0;
				outline: none;
				height: 149px;
				position: relative;
				display: inline-block;
				border: 1px solid #b7b7b7;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 100%;
					opacity: 0;
					visibility: hidden;
					position: absolute;
					display: inline-block;
					background: url("../img/icon_view.png") 50% 50% no-repeat;
					@include transition(0.3s);
				}

				&:hover {
					opacity: 1;
					visibility: visible;
					@include transition(0.3s);
				}

				img {
					max-height: 100%;
					width: auto;
				}
			}
		}
	}

	.slide-nav {
		top: 50%;
		z-index: 20;
		width: 16px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		margin-top: -15px;
		display: inline-block;
		background: url("../img/icon__slide_arrow.png") 0 0 no-repeat;

		&.prev {
			left: -30px;
		}

		&.next {
			right: -30px;
			@include rotate(180deg);
		}
	}

	@media (min-width: $screen-sm-min) {

		.modal__heading {
			max-width: 320px;
		}

		&__place {
			top: 10px;
			left: 370px;
			position: absolute;
			margin-bottom: 0;
		}

		&__box {
			z-index: 20;
			width: 640px;
			height: 157px;
		}

		&__slider {


			&_item {

				a {
					height: 115px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.modal__heading {
			max-width: inherit;
		}

		&__place {
			top: auto;
			left: auto;
			position: relative;
			margin-bottom: 90px;
		}

		&__box {
			width: 1020px;
			height: 193px;
		}

		&__slider {

			&_item {

				a {
					height: 151px;
				}
			}
		}
	}
}

.property {
	font-size: 14px;
	line-height: 18px;

	&__heading {

		&_col {

		}
	}

	&__contact {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 10px;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		.tel {
			color: #3777a4;
			font-size: 24px;
			line-height: 28px;
			text-decoration: none;
			border-bottom: 1px dotted #3777a4;
		}

		.email {
			color: #3777a4;
			text-decoration: none;
			border-bottom: 1px dotted #3777a4;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	&__link {
		padding: 0;
		list-style: none;
		margin: 0 0 20px 0;

		li {
			margin-bottom: 10px;

			a {
				color: #3777a4;
				text-decoration: none;
				border-bottom: 1px dotted #3777a4;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__content {

		&_col {

		}
	}

	&__group {
		padding: 0;
		list-style: none;
		margin: 0 0 25px 0;

		li {
			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}

			strong {
				color: #808080;
				display: block;
				font-weight: 400;
			}

			span {
				color: #000;
			}
		}
	}

	&__table {
		width: 100%;
		display: block;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;

		tr {
			display: block;
			margin-bottom: 10px;
		}

		td {
			display: block;

			&:first-child {
				color: #808080;
			}

			&:last-child {
				color: #000;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.modal__heading {
			margin-bottom: 0;
		}

		&__heading {
			margin-bottom: -20px;
			@include flexbox();

			&_col {

				&:first-child {
					width: 345px;
				}

				&:last-child {
					@include flex(1);
				}
			}
		}

		&__contact {
			margin-bottom: 0;

			li {
				margin-bottom: 0;

				&:first-child {
					margin-bottom: 10px;
				}
			}

			.tel {
				color: #000;
				border-bottom: none;
			}
		}

		&__link {

		}

		&__table {
			display: table;

			tr {
				display: table-row;
			}

			td {
				padding: 5px 0;
				display: table-cell;

				&:first-child {
					padding-right: 20px;
				}
			}
		}

		.scrollbar-inner {
			height: 310px;
		}

		&__wrap {
			position: relative;

			&:before {
				left: 0;
				bottom: 0;
				content: '';
				right: 10px;
				z-index: 10;
				height: 37px;
				position: absolute;
				background: url("../img/scroll_pattern_bottom.png") 0 100% repeat-x;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.scrollbar-inner {
			height: 540px;
		}

		&__heading {
			margin-bottom: 15px;

			&_col {

				&:first-child {
					width: 460px;
				}

				&:last-child {
					padding-top: 10px;
					@include flex(1);
				}
			}
		}

		&__wrap {
			z-index: 5;
			margin-top: -60px;

			&:before {
				display: none;
			}
		}

		&__contact {
			@include clearfix();

			li {
				float: left;

				&:first-child {
					margin-right: 35px;
				}

				&:last-child {
					padding-top: 5px;
				}
			}
		}


		&__content {
			@include flexbox();

			&_col {

				&:first-child {
					width: 460px;
					margin-top: 65px;
				}

				&:last-child {
					@include flex(1);
				}
			}
		}

		&__link {
			z-index: 10;
			width: 400px;
			position: relative;

			li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__table {
			margin-top: 30px;
		}
	}
}

.btn-group {
	padding-top: 5px;
	@include clearfix();

	.file-label {
		width: 100%;
		margin-bottom: 25px;
	}


	@media (min-width: $screen-sm-min) {

		.file-label {
			float: left;
			width: auto;
			margin-top: 10px;
			margin-bottom: 0;
		}

		.btn {
			float: right;
		}
	}
}

.modalFilter {

	&__auto {
		padding: 0;
		list-style: none;
		margin: 0 0 15px 0;
		@include clearfix();

		li {
			float: left;

			&:first-child {
				margin-right: 30px;
			}
		}
	}

	&__select {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			margin-bottom: 25px;
		}
	}

	&__result {
		padding-top: 25px;
	}

	&__goods {
		@include clearfix();
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		padding: 10px;
		max-width: 300px;
		margin-bottom: 20px;
		border: 1px solid #dbdbdb;
		@include border-radius(3px);
		@include flexbox();

		&_image {
			width: 92px;
			text-align: center;

			a {
				outline: none;
				font-size: 0;
				line-height: 0;
				display: inline-block;
			}
		}

		&_text {
			padding-left: 16px;
			@include flex(1);
			@include flexbox();
		}

		&_name {
			color: #287bb5;
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 10px;
			text-decoration: none;
		}

		span {
			color: #b2b2b2;
			font-size: 12px;
			line-height: 14px;
		}

		&_wrap {
			margin: auto 0;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__select {
			margin: 0 -10px 40px -10px;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				width: 33.33%;
				padding: 0 10px;
				margin-bottom: 0;
			}
		}

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__name {
			width: 300px;
			@include flexbox();
			@include flex-direction(column);
		}

		&__oil {
			padding: 10px;
			border: 1px solid #dbdbdb;
			@include border-radius(3px);
			@include flex(1);
		}

		&__result {
			width: 300px;
			padding-top: 0;
		}

		&__goods {
			@include clearfix();
		}

		&__item {
			width: 300px;
			margin: 0 0 20px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 10px;

		&__select {
			margin: 0 -15px 20px -15px;

			> li {
				padding: 0 15px;
			}
		}

		&__name {
			width: 320px;
			padding-bottom: 20px;
		}

		&__result {
			width: auto;
			@include flex(1);
			padding-left: 30px;
		}

		&__oil {
			min-height: 360px;
		}

		&__item {
			float: left;
			width: 320px;
			max-width: inherit;
			margin: 0 0 20px 0;

			&:nth-child(odd) {
				float: left;
			}


			&:nth-child(even) {
				float: right;
			}

			&:last-child {
				margin-bottom: 20px;
			}
		}

		&__goods {
			width: 100%;
			padding: 0;
		}
	}
}

.filterAuto {

	&__row {

	}

	&__col {

	}

	&__result {

	}

	&__item {
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #dbdbdb;
		@include border-radius(3px);
		@include flexbox();

		&_image {
			width: 92px;
			text-align: center;

			a {
				outline: none;
				font-size: 0;
				line-height: 0;
				display: inline-block;
			}
		}

		&_text {
			padding-left: 16px;
			@include flex(1);
			@include flexbox();
		}

		&_name {
			color: #287bb5;
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 10px;
			text-decoration: none;
		}

		span {
			color: #b2b2b2;
			font-size: 12px;
			line-height: 14px;
			display: block;
		}

		&_wrap {
			margin: auto 0;
			display: inline-block;
		}
	}

	&__box {
		padding: 10px;
		border: 1px solid #dbdbdb;
		@include border-radius(3px);
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -10px;
		@include flexbox();

		&__row {

		}

		&__col {
			width: 33.33%;
			padding: 0 10px;
			@include flexbox();
			@include flex-direction(column);
		}

		&__item {
			margin: 0;
			border: none;
			border-bottom: 1px solid #dbdbdb;
			@include border-radius(0);

			&_image {
				width: 80px;
			}

			&_name {
				font-size: 18px;
				line-height: 22px;
			}
		}

		&__result {
			border: 1px solid #dbdbdb;
			@include flex();
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -15px 20px 15px;

		&__col {
			padding: 0 15px;
		}

		&__item {
			margin: 0;
			border: none;
			border-bottom: 1px solid #dbdbdb;
			@include border-radius(0);

			&_image {
				width: 92px;
			}

			&_name {
				font-size: 24px;
				line-height: 28px;
			}
		}
	}
}

.scrollbar-inner > .scroll-element {

	.scroll-bar {
		background: #707070;
		opacity: 0.8;

		&:hover {
			background: #707070;
			opacity: 1;
		}
	}

	&.scroll-y {
		width: 3px;
	}
}

.fancybox-active {

	.page {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
	}
}

.fancybox-bg {
	background: rgba(0,0,0,0.1);
}

.fancybox-slide>* {
	margin: 0 !important;
}


.modalSearch {
	color: #000;
	width: 100%;
	max-width: 600px;
	position: relative;
	background: #fff;
	padding: 25px 25px 40px 25px;
	@include border-radius(4px);


	&__heading {
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 40px 45px 40px;

		.modal__close {
			right: 40px;
		}
	}
}

.search {
	width: 100%;
	position: relative;

	&__input {
		margin: 0;
		width: 100%;
		outline: none;
		color: #666;
		font-size: 14px;
		line-height: 20px;
		padding: 15px 15px 15px 65px;
		display: inline-block;
		background: #fff;
		border: 1px solid #c2c2c2;
		@include border-radius(3px);
		@include placeholder(#666);


		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			@include placeholder(transparent);
		}
	}

	&__btn {
		top: 0;
		left: 0;
		content: '';
		z-index: 10;
		width: 50px;
		height: 50px;
		border: none;
		outline: none;
		padding: 13px;
		position: absolute;
		background: transparent;

		.ico-svg {
			fill: #666;
		}
	}
}