.openNav {

	.nav {
		margin-left: 0;
		@include transition(.3s);
	}

	@media (min-width: $screen-md-min) {

		.page {
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
		}
	}
}

.nav {
	left: 0;
	top: 130px;
	width: 100%;
	color: #fff;
	display: block;
	z-index: 999;
	background: #000;
	position: absolute;
	margin-left: -100%;
	@include transition(.3s);

	&__wrap {
		position: relative;
		padding: 30px 10px 20px 10px;
	}

	&__heading {
		display: none;
	}

	&__close {

	}

	&__logo {
		font-size: 0;
		line-height: 0;
	}

	&__user {
		margin: 0;
		padding: 18px 0;
		list-style: none;
		border-bottom: 1px solid #222;
		@include clearfix();

		> li {
			float: left;

			&:first-child {
				margin-right: 40px;
			}
		}
	}


	&__location {
		margin: 0 -10px;
		padding: 20px 10px;
		border-bottom: 1px solid #222;
		@include clearfix();

		&_city {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 15px;
			position: relative;
			@include clearfix();

			&:before {
				left: 0;
				top: 50%;
				content: '';
				width: 36px;
				height: 36px;
				margin-top: -18px;
				position: absolute;
				display: none;
				border: 1px solid #808080;
				background: url("../img/icon__map_marker.png") 50% 50% no-repeat;
				@include border-radius(50%);
			}

			&_label {
				color: #fff;
				display: block;
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			&_current {
				display: inline-block;
			}

			span {
				color: #808080;
			}

			a {
				color: #fff;
				text-decoration: none;
				border-bottom: 1px dashed #fff;
			}
		}

		&_contact {
			color: #fff;
			outline: none;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			padding: 11px 20px;
			display: inline-block;
			text-decoration: none;
			background: #262626;
			border: 1px solid #686868;
			@include border-radius(3px);

			&:hover {
				background: transparent;
			}
		}
	}

	&__title {
		display: none;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__search {
		max-width: 300px;
		position: relative;

		&_input {
			margin: 0;
			width: 100%;
			outline: none;
			color: #fff;
			font-size: 14px;
			line-height: 20px;
			padding: 15px 15px 15px 65px;
			display: inline-block;
			background: rgba(255,255,255, 0.15);
			border: 1px solid #808080;
			@include border-radius(3px);
			@include placeholder(#fff);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
			}
		}

		&_btn {
			top: 0;
			left: 0;
			content: '';
			z-index: 10;
			width: 50px;
			height: 50px;
			border: none;
			outline: none;
			padding: 13px;
			position: absolute;
			background: transparent;

			.ico-svg {
				fill: #fff;
			}
		}
	}

	&__selection {
		margin-top: 25px;
		padding-left: 48px;
		margin-bottom: 30px;
		position: relative;

		&:after,
		&:before {
			left: 11px;
			z-index: 1;
			width: 18px;
			height: 1px;
			content: '';
			display: block;
			position: absolute;
			background: #808080;
		}

		&:after {
			top: 9px;
		}

		&:before {
			bottom: 3px;
		}

		&_icon {
			top: 50%;
			left: 0;
			width: 21px;
			height: 24px;
			display: block;
			margin-top: -10px;
			position: absolute;

			.ico-svg {
				fill: #808080;
			}

			&:after,
			&:before {
				left: 50%;
				width: 1px;
				content: '';
				z-index: 10;
				height: 30px;
				display: block;
				position: absolute;
				background: #808080;
			}

			&:after {
				top: -41px;
			}

			&:before {
				bottom: -44px;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 25px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #fff;
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					text-decoration: none;
					border-bottom: 1px dashed #808080;

					&:hover {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}

	&__filters {
		margin: 0 -10px;
		list-style: none;
		padding: 15px 10px 20px 10px;
		border-top: 1px solid #222;

		> li {
			margin-bottom: 25px;

			> a {
				color: #fff;
				font-size: 14px;
				line-height: 18px;
				position: relative;
				display: inline-block;
				text-decoration: none;
				padding: 8px 0 8px 54px;

				&:hover {

					span {
						border-bottom-color: transparent;
					}
				}
			}

			i {
				left: 0;
				top: 50%;
				position: absolute;
				display: inline-block;

				.ico-svg {
					fill: #808080;
				}
			}

			span {
				border-bottom: 1px dotted #808080;
			}

			&:nth-child(1) {

				i {
					width: 34px;
					height: 22px;
					margin-top: -11px;
				}
			}

			&:nth-child(2) {

				i {
					width: 23px;
					height: 25px;
					margin-top: -13px;
				}
			}

			&:nth-child(3) {

				i {
					width: 29px;
					height: 28px;
					margin-top: -14px;
				}
			}

			&:nth-child(4) {

				i {
					width: 26px;
					height: 33px;
					margin-top: -12px;
				}
			}

			&:nth-child(5) {
				margin-bottom: 0;

				i {
					width: 33px;
					height: 33px;
					margin-top: -16px;
				}
			}
		}
	}

	&__second {
		display: none;

		padding: 0;
		list-style: none;
		margin: 0 0 30px 0;

		> li {
			margin-bottom: 2px;

			&:last-child {
				margin-bottom: 0;
			}

			> a {
				color: #fff;
				font-size: 14px;
				line-height: 18px;
				position: relative;
				text-decoration: none;
				border-bottom: 1px dashed rgba(255,255,255, 0.7);

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__social {
		display: none;

		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			> a {
				opacity: 0.5;
				display: inline-block;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		top: 60px;

		&__wrap {
			position: relative;
			padding: 30px 20px 30px 60px;
		}

		&__user {
			display: none;
		}

		&__location {
			top: 30px;
			z-index: 10;
			right: 20px;
			margin: 0;
			padding: 0;
			border-bottom: none;
			width: 230px;
			position: absolute;

			&_city {
				padding: 0 0 0 48px;
				margin-bottom: 25px;

				&:before {
					display: inline-block;
				}
			}

			&_contact {
				float: none;
			}
		}

		&__filters {
			margin: 0 0 30px 0;
			padding: 0;
			border-top: none;
		}
	}

	@media (min-width: $screen-md-min) {
		top: 0;
		bottom: 0;
		width: 496px;
		background: transparent;

		&__wrap {
			width: 496px;
			min-height: 100%;
			position: relative;
			padding: 0 20px 20px 110px;
			background: rgba(254,0,0, 0.75);
		}

		&__heading {
			position: relative;
			display: block;
			@include clearfix();
			margin: 0 -20px 20px -110px;
		}

		&__close {
			left: 35px;
			top: 25px;
			height: 40px;
			width: 40px;
			font-size: 0;
			line-height: 0;
			display: block;
			cursor: pointer;
			position: absolute;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				width: 40px;
				height: 2px;
				content: '';
				z-index: 10;
				background: #fff;
				position: absolute;
				margin: -1px 0 0 -20px;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}

		&__logo {
			float: right;
			display: block;
			padding: 26px 34px;
			width: 386px;
			background: #ff0000;
		}


		&__location {
			display: none;
		}

		&__search {
			max-width: 300px;
			position: relative;
			margin-bottom: 20px;

			&_input {
				background: rgba(0,0,0, 0.15);
				border: 1px solid #fff;
			}
		}

		&__title {
			display: none;
		}

		&__selection {
			margin-top: 0;
			padding-left: 0;
			margin-bottom: 20px;
			position: relative;

			&:after,
			&:before {
				display: none;
			}

			&_icon {
				display: none;
			}


			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 2px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						border-bottom: 1px dashed rgba(255,255,255, 0.7);

						&:hover {
							border-bottom-color: transparent;
						}
					}
				}
			}
		}

		&__filters {
			margin: 0 0 20px 0;
			list-style: none;
			padding: 0;
			border-top: none;

			> li {
				margin-bottom: 2px;

				> a {
					color: #fff;
					font-size: 14px;
					line-height: 18px;
					position: relative;
					display: inline-block;
					text-decoration: none;
					padding: 0;

					&:hover {

						span {
							border-bottom-color: transparent;
						}
					}
				}

				i {
					display: none;
				}

				span {
					border-bottom: 1px dashed rgba(255,255,255, 0.7);
				}
			}
		}

		&__second {
			display: block;
		}

		&__social {
			display: block;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__heading {
			margin-bottom: 30px;
		}

		&__search {
			margin-bottom: 30px;
		}

		&__title {
			display: block;
		}

		&__selection {
			margin-bottom: 30px;

			ul {

				li {
					margin-bottom: 15px;
				}
			}
		}

		&__filters {
			margin-bottom: 30px;

			li {
				margin-bottom: 15px;
			}
		}

		&__second {
			display: block;
			margin-bottom: 30px;

			> li {
				margin-bottom: 15px;
			}
		}
	}
}