$body-bg:                       #fff;
$color-blue:                    #48afe2;

// Fonts

$font-size-base:                1rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.5 !default;


$font-base:                     'ClearSans', Arial, sans-serif !default;
$font-head:                     $font-base;

$spacer:                        1rem !default;

$color-base:                    #222;
$color-link:                    $color-blue !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  720px !default;
$container-md:                  1200px !default;
$container-lg:                  1400px !default;
$container-xl:                  1140px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 768px !default;
$screen-md-min:                 1200px !default;
$screen-lg-min:                 1400px !default;
$screen-xl-min:                 1620px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;


