.img-fluid {
	max-width: 100%;
	height: auto;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}


.hide {
	opacity: 0;
	visibility: hidden;
	display: none !important;
}

.text-center {
	text-align: center !important;
}

.mobile-hide {
	display: none;

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

.mobile-on {

	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.desktop-on {
	display: none;

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}