
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 15px 0;

	> li {
		font-size: $font-size-base;
		line-height: 20px;
		display: inline-block;

		&:after {
			content: '/';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 20px;
	}
}