
.btn {
	color: #fff;
	outline: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	padding: 11px 20px;
	user-select: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	background: #ff0000;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ff0000;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #ff7272;
		border-color: #ff7272;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn-white {

	@media (min-width: $screen-sm-min) {
		color: #ff0000;
		background: #fff;
		border-color: #fff;

		&:hover {
			color: #fff;
			background: #ff0000;
			border-color: #ff0000;
		}
	}
}


.btn-goods {
	outline: none;
	color: #ff0000;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding: 8px 15px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffffff;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #ff0000;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #ff0000;
		border-color: #ff0000;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		border: none;
		color: #fff;
		padding: 6px 15px;
		background: rgba(255,255,255, 0.3);

		&:hover {
			color: #ff0000;
			background: rgba(255,255,255, 1);
		}
	}
}

.btn-border {
	outline: none;
	color: #ff0000;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding: 9px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffffff;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #ff0000;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #ff0000;
		border-color: #ff0000;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		border: none;
		color: #fff;
		padding: 12px 30px;
		background: rgba(255,255,255, 0.3);

		&:hover {
			color: #ff0000;
			background: rgba(255,255,255, 1);
		}
	}
}


.btn-text {
	border: none;
	outline: none;
	color: #000000;
	padding: 12px 0;
	cursor: pointer;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: transparent;
	display: inline-block;

	span {
		font-size: 14px;
		line-height: 20px;
		border-bottom: 1px dotted rgba(0,0,0, 0.6);
	}

	&:hover {

		span {
			border-bottom-color: transparent;
		}
	}

	@media (min-width: $screen-sm-min) {
		color: #fff;

		span {
			border-bottom-color: rgba(255,255,255, 0.6);
		}

		&:hover {

			span {
				border-bottom-color: transparent;
			}
		}
	}
}

.btn-blue {
	outline: none;
	color: #287bb5;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding: 10px 35px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffffff;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #287bb5;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #287bb5;
		border-color: #287bb5;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}