.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #666;
	font-size: 13px;
	line-height: 20px;
	padding: 14px 15px;
	display: inline-block;
	background: transparent;
	border: 1px solid #c2c2c2;
	@include border-radius(3px);
	@include placeholder(#666);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.custom-radio {
	display: inline-block;
	position: relative;

	input[type='radio'] {
		display: none;
	}

	.custom-radio-text {
		color: #fff;
		font-size: 14px;
		line-height: 16px;
		padding: 2px 0 2px 30px;
		display: inline-block;
		position: relative;

		&:before {
			left: 0;
			top: 0;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			border: 1px solid #fff;
			@include border-radius(50%);
		}

		&:after {
			top: 4px;
			left: 4px;
			z-index: 5;
			content: '';
			width: 12px;
			height: 12px;
			opacity: 0;
			background: #fff;
			position: absolute;
			visibility: hidden;
			display: inline-block;
			@include border-radius(50%);
		}

		span {

			border-bottom: 1px dashed #fff;
		}
	}

	input[type='radio']:checked + .custom-radio-text {

		&:after {
			visibility: visible;
			opacity: 1;
		}
	}
}

.form-radio {
	display: inline-block;
	position: relative;

	input[type='radio'] {
		display: none;
	}

	.form-radio-text {
		color: #287bb5;
		font-size: 14px;
		line-height: 16px;
		padding: 2px 0 2px 30px;
		display: inline-block;
		position: relative;

		&:before {
			left: 0;
			top: 0;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			border: 1px solid #287bb5;
			@include border-radius(50%);
		}

		&:after {
			top: 4px;
			left: 4px;
			z-index: 5;
			content: '';
			width: 12px;
			height: 12px;
			opacity: 0;
			background: #287bb5;
			position: absolute;
			visibility: hidden;
			display: inline-block;
			@include border-radius(50%);
		}

		span {

			border-bottom: 1px dotted #287bb5;
		}
	}

	input[type='radio']:checked + .form-radio-text {

		&:after {
			visibility: visible;
			opacity: 1;
		}
	}
}

.form-group {
	margin-bottom: 20px;
}

.file-label {
	color: #3777a4;
	min-height: 22px;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	padding-left: 30px;
	display: inline-block;
	position: relative;
	text-decoration: none;

	input[type='file'] {
		display: none;
	}

	i {
		top: 0;
		left: 0;
		width: 20px;
		height: 22px;
		position: absolute;
	}

	.ico-svg {
		fill: #3777a4;
	}

	&:hover {

		span {
			border-bottom-color: transparent;
		}
	}


	span {
		font-size: 14px;
		line-height: 17px;
		max-width: 250px;
		overflow: hidden;
		border-bottom: 1px dotted #3777a4;
	}
}

.form-label {
	color: #000;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 7px;
	text-transform: uppercase;

	small {
		color: #808080;
		font-weight: 400;
		text-transform: lowercase;
	}
}
